body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background: #7E86D8;
    font-family: Source;
}
@font-face {
    font-family: 'Source';
    src: url('fonts/Source.otf');
}

#select-box {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #FFB45B;
    box-shadow: 0 3px 3px #31271B;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}
#rent {
    background: #FF6D43;
}
#rent-out {
    background: #3687B3;
}

/* -------------------------------------- */
/* -- let's add a bit of button-magic --- */
/* -------------------------------------- */
.btn {
    color: #fff;
    display: block;
    max-width: 250px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 2em auto;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-fx {
    letter-spacing: 0;
    transition: 0.5s;
    transition: letter-spacing 1.3s;
}
.btn-fx:hover,
.btn-fx:active {
    letter-spacing: 5px;
}
.btn-fx:after,
.btn-fx:before {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    -webkit-transition: 0.32s ease-in-out;
    transition: 0.32s ease-in-out;
}
.btn-fx:hover:after,
.btn-fx:hover:before {
    border-color: #fff;
    width: 70%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.btn-fx:hover:before {
    width: 70%;
    top: 0;
    bottom: auto;
}

/* ------------------------------------------------- */
/* --- now to take care of out foldable menus... --- */
/* ------------------------------------------------- */
#rent-menu,
#rent-out-menu {
    position: absolute;
    width: 1%;
    height: 100%;
    transition: 0.5s;
}
#rent-menu {
      left: 0;
}
#rent-out-menu {
    right: 0;
}

.spacer {
    height: 5%;
}
.spacer-big {
    height: 7.5%;
}

.rent-out-menu {
    background: #3687B3;
}
.rent-menu {
    background: #FF6D43;
}
.rent-out-menu, 
.rent-menu {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0;
    height: 13%;
    overflow: hidden;
}

.rent-menu-exit,
.rent-out-menu-exit {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0;
    height: 13%;
    max-width: 90%;
    overflow: hidden;
}
.rent-menu-exit {
    background: #FF6D43;
}
.rent-out-menu-exit {
    background: #3687B3;
    margin-left: 10%;
}

.rent-menu .menu-txt, .rent-out-menu .menu-txt,
.rent-menu-exit .menu-txt, .rent-out-menu-exit .menu-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
}

.rent-txt,
.rent-out-txt {
    display: none;
}